.login {
    &-container {
        display: flex;
        flex: 1;
    }

    &-failed {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1em;
    }

    &-left {
        flex: 1;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: black;

        h1 {
            margin: -3em 0 0.2em 0 !important;
        }
    }

    &-right {
        padding: 0 1em;
        min-height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: black;

        form {
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 15em;
            height: 20em;
        }
    }
}

@media screen and (max-width: 760px) {
    .login-container {
        flex-direction: column;
    }
}
